::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_header {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px 10px;
    justify-content: space-between;
    gap: 30px;
}

.title {
    color: antiquewhite;
    font-size: 35px;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    margin-right: 40px;
    align-items: center;
}

.form_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.input {
    width: 40%;
    border-radius: 20px;
    height: 50px;
}


.film_recherche_accueil {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.titre_film {
    display: flex;
    justify-content: center;
}

.film_similaire {
    width: 50%;
}

body {
    background-color: rgb(212, 209, 209);
}