{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accueil.css' %}">
</head>
<body>
    <header>
        <div class="container_header">
            <div class="title">CINEALLO</div>
            <div class="navbar">
                <a href="{% url 'films:films' %}">films</a>
                <a href="{% url 'users:connexion' %}">connexion</a>
                <a href="{% url 'contact' %}">contact</a>
                <a href="{% url 'accueil' %}">accueil</a>
            </div>
        </div>
    </header>
{% block content %}

    <br><br>
    <form method="get" action="{% url 'recherche_film:recommandation' %}" class="form_accueil">
        <input type="text" name="film" class="input">
        <button type="submit" class="bouton">recherche</button>
    </form>
    
    {% if films_recommande %}
        <h1>tu a tapé ce film :</h1>
        
            {% for i in films_recommande %}
                <h2 class="titre_film"> {{ i.titre }}</h2>
                <div class="film_recherche_accueil">
                    <div class="image">
                        {% if i.image_url %}
                            <img src="{{ i.image_url }}" width="200">
                        {% else %}
                            <p>pas d'image</p>
                        {% endif %}
                    </div>
        
                    <p class="resume">{{ i.resume }}</p>
                </div>
            {% endfor %}
        
    {% endif %}

    <br><br>

    {% if movies %}
        <h2>Films réalisés par {{ realisator }}</h2>
        <ul>
            {% for movie in movies %}
            <hr>
                <div class="film_similaire">
                    <h2 class="titre_similaire">{{ movie.title }}</h2>
                    <h2 class="date_similaire">({{ movie.release_date }})</h2>
                    <p class="resume_similaire">{{ movie.overview }}</p>

                    <div class="image_film_similaire">
                        {% if movie.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" width="200">
                        {% else %}
                            <p>pas d'image</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </ul>
    {% endif %}
    <br>


    {% if movies_similar %}
        <h2>Films similaires</h2>
        <ul>
            {% for i in movies_similar %}
                <li>{{ i.title }} ({{ i.release_date }}) {{ i.overview }}</li>
                {% if i.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w500{{ i.poster_path }}" width="200">
                {% else %}
                    <p>pas d'image</p>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas de films similaires trouvés.</p>
    {% endif %}

{% endblock %}

        <footer>
            <p>contact</p>
        </footer>

    
</body>
</html>