{% extends "accueil.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'liste_films.css' %}">
<body>
    
    <h1>liste film</h1>


    <form action="{% url 'films:recherche' %}" method="get">
        {% csrf_token %}
        <input type="text" name="query" value="{{ query }}">
        <button type="submit">rechercher</button>
    </form>


    <form action="{% url 'films:recherche_avancer' %}" method="get" id="form_genre">
        <label for="genre">Choisir un genre :</label>
        <select name="genre" id="genre_select">
            {% for genre in genres %}
                <option value="{{ genre.id }}" {% if genre.id|stringformat:"s" == request.GET.genre %} selected {% endif %}>
                    {{ genre.name }}
                </option>
            {% endfor %}
        </select>
    </form>


    <label for="filtre">filtre</label>
    <select name="filtre" id="filtre">
        <option value="recent">du plus récent au plus ancien</option>
        <option value="ancien">du plus ancien au plus récent</option>
    </select>

    <label for="popularity">popularité</label>
    <select name="popularity" id="popularity">
        <option value="populaire">du plus populaire au moins populaire</option>
        <option value="moins_populaire">du moins populaire au plus populaire</option>
    </select>


    {% if films_recherche %}
    <div id="films_recherche">
        <h1>liste de films {{ genre.name }}</h1>       
        {% for film in films_recherche %}
        <div class="film">
            <p class="titre">{{ film.title }}</p>
            <a href="{% url 'films:detail_film' film.id %}">{{ film.title }}</a>
            <p class="date">{{ film.release_date }}</p>
            <p class="resume">{{ film.overview }}</p>
            <p class="note">{{ film.popularity }}</p>
            <img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" alt="{{ film.title }}">
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if films_search %}
    <h1>{{ query }}</h1>
        {% for movie in films_search %}
            <p>{{ movie.title }}</p>
            <p>{{ movie.resume }}</p>
            {% if movie.image_url %}
                <img src="{{ movie.image_url }}" width="200">
            {% else %}
             <p>pas d'image</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>aucun film trouvé</p>
    {% endif %}


    
    {% if films %}
    <h1>Liste de films populaire</h1>
        <div id="films_recherche"> 
            {% for film in films %}
            <div class="film">
                <a href="{% url 'films:detail_film' film.movie_id %}">{{ film.titre }}</a>
                <p class="note">{{ film.note }}</p>
                <p class="date">{{ film.date }}</p>
                {% if film.image_url %}
                    <img src="{{ film.image_url }}" width="200">
                {% else %}
                    <p>pas d'image</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let selection = document.querySelector("#genre_select")
            selection.addEventListener("change", () => {
                document.querySelector("#form_genre").submit();
            });
        

        const selectFiltre = document.querySelector("#filtre");
        const container = document.querySelector("#films_recherche");

        if (selectFiltre && container) {
            selectFiltre.addEventListener("change", () => {
                const films = Array.from(container.querySelectorAll(".film"));

                films.sort((a, b) => {
                    const dateA = new Date(a.querySelector(".date").innerText);
                    const dateB = new Date(b.querySelector(".date").innerText);

                    if (selectFiltre.value === "recent") {
                        return dateB - dateA;
                    } else {
                        return dateA - dateB;
                    }
                });

                container.innerHTML = "";
                films.forEach(film => container.appendChild(film));
            });
        }
    })

    const bouton = document.querySelector("#popularity")
    const container = document.querySelector("#films_recherche")
    bouton.addEventListener("change", popularity)
    
    function popularity() {
        const films = Array.from(document.querySelectorAll(".film"))
        films.sort((a, b) => {
            const noteA = parseFloat(a.querySelector(".note").innerText)
            const noteB = parseFloat(b.querySelector(".note").innerText)

            return bouton.value === "populaire" ? noteB - noteA : noteA - noteB
        })

        container.innerHTML = ""
        films.forEach(film => container.appendChild(film))

    }
    </script>
    
</body>

{% endblock %}
